<a href="https://colab.research.google.com/github/pmcgie/Agile_Waterfall/blob/master/Golf_Predictions_Updated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn import tree
import pandas as pd

# New Section

# Seed and Target Data

Today, we will be testing a decision tree model.

In [0]:
#create empty data frame
golf_df = pd.DataFrame()

#add outlook
golf_df['Outlook'] = ['sunny', 'sunny', 'overcast', 'rainy', 'rainy', 'rainy', 
                     'overcast', 'sunny', 'sunny', 'rainy', 'sunny', 'overcast',
                     'overcast', 'rainy']

#add temperature
golf_df['Temperature'] = [92, 86, 83, 70, 60, 53, 62,
                         75, 57, 72, 78, 69, 81, 71]

#add humidity
golf_df['Humidity'] = [40.3, 63.1, 35.3, 86.3, 72.4, 22.7, 27.0,
                      80.7, 15.4, 25.1, 18.6, 58.3, 27.2, 39.3]

#add windy
golf_df['Windy'] = ['false', 'true', 'false', 'false', 'false', 'true', 'true',
                   'false', 'false', 'false', 'true', 'true', 'false', 'true']

#finally add play
golf_df['Play'] = ['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 
                  'yes', 'yes', 'no']

golf_df['weekday'] = ['yes', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no','yes', 'yes']

golf_df

     Outlook  Temperature  Humidity  Windy Play weekday
0      sunny           92      40.3  false   no     yes
1      sunny           86      63.1   true   no     yes
2   overcast           83      35.3  false  yes      no
3      rainy           70      86.3  false  yes     yes
4      rainy           60      72.4  false  yes     yes
5      rainy           53      22.7   true   no      no
6   overcast           62      27.0   true  yes     yes
7      sunny           75      80.7  false   no     yes
8      sunny           57      15.4  false  yes      no
9      rainy           72      25.1  false  yes     yes
10     sunny           78      18.6   true  yes     yes
11  overcast           69      58.3   true  yes      no
12  overcast           81      27.2  false  yes     yes
13     rainy           71      39.3   true   no     yes

In [0]:
golf_df.shape
print(golf_df.head(3))

golf_df.info()

    Outlook  Temperature  Humidity  Windy Play weekday
0     sunny           92      40.3  false   no     yes
1     sunny           86      63.1   true   no     yes
2  overcast           83      35.3  false  yes      no
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
Outlook        14 non-null object
Temperature    14 non-null int64
Humidity       14 non-null float64
Windy          14 non-null object
Play           14 non-null object
weekday        14 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 752.0+ bytes

In [0]:
(golf_df)

     Outlook  Temperature  Humidity  Windy Play weekday
0      sunny           92      40.3  false   no     yes
1      sunny           86      63.1   true   no     yes
2   overcast           83      35.3  false  yes      no
3      rainy           70      86.3  false  yes     yes
4      rainy           60      72.4  false  yes     yes
5      rainy           53      22.7   true   no      no
6   overcast           62      27.0   true  yes     yes
7      sunny           75      80.7  false   no     yes
8      sunny           57      15.4  false  yes      no
9      rainy           72      25.1  false  yes     yes
10     sunny           78      18.6   true  yes     yes
11  overcast           69      58.3   true  yes      no
12  overcast           81      27.2  false  yes     yes
13     rainy           71      39.3   true   no     yes

In [0]:
one_hot_data = pd.get_dummies(golf_df[['Outlook', 'Windy', 'weekday']])  # get_dummies
one_hot_data

,Outlook_overcast,Outlook_rainy,Outlook_sunny,Windy_false,Windy_true,weekday_no,weekday_yes
0,0,0,1,1,0,0,1
1,0,0,1,0,1,0,1
2,1,0,0,1,0,1,0
3,0,1,0,1,0,0,1
4,0,1,0,1,0,0,1
5,0,1,0,0,1,1,0
6,1,0,0,0,1,0,1
7,0,0,1,1,0,0,1
8,0,0,1,1,0,1,0
9,0,1,0,1,0,0,1
10,0,0,1,0,1,0,1
11,1,0,0,0,1,1,0
12,1,0,0,1,0,0,1
13,0,1,0,0,1,0,1

In [6]:
# join the continuous data with one hot data using pandas .join()
golf_one_hot = golf_df[['Temperature', 'Humidity']].join(one_hot_data)
golf_one_hot

,Temperature,Humidity,Outlook_overcast,Outlook_rainy,Outlook_sunny,Windy_false,Windy_true,weekday_no,weekday_yes
0,92,40.3,0,0,1,1,0,0,1
1,86,63.1,0,0,1,0,1,0,1
2,83,35.3,1,0,0,1,0,1,0
3,70,86.3,0,1,0,1,0,0,1
4,60,72.4,0,1,0,1,0,0,1
5,53,22.7,0,1,0,0,1,1,0
6,62,27.0,1,0,0,0,1,0,1
7,75,80.7,0,0,1,1,0,0,1
8,57,15.4,0,0,1,1,0,1,0
9,72,25.1,0,1,0,1,0,0,1
10,78,18.6,0,0,1,0,1,0,1
11,69,58.3,1,0,0,0,1,1,0
12,81,27.2,1,0,0,1,0,0,1
13,71,39.3,0,1,0,0,1,0,1

In [0]:
clf = tree.DecisionTreeClassifier()

clf_train = clf.fit(golf_one_hot, golf_df['Play'])

In [0]:
clf_train

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [0]:
print(tree.export_graphviz(clf_train, None))
#ree.export_graphviz

digraph Tree {
node [shape=box] ;
0 [label="X[0] <= 84.5\ngini = 0.459\nsamples = 14\nvalue = [5, 9]"] ;
1 [label="X[0] <= 55.0\ngini = 0.375\nsamples = 12\nvalue = [3, 9]"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="gini = 0.0\nsamples = 1\nvalue = [1, 0]"] ;
1 -> 2 ;
3 [label="X[1] <= 37.3\ngini = 0.298\nsamples = 11\nvalue = [2, 9]"] ;
1 -> 3 ;
4 [label="gini = 0.0\nsamples = 6\nvalue = [0, 6]"] ;
3 -> 4 ;
5 [label="X[0] <= 70.5\ngini = 0.48\nsamples = 5\nvalue = [2, 3]"] ;
3 -> 5 ;
6 [label="gini = 0.0\nsamples = 3\nvalue = [0, 3]"] ;
5 -> 6 ;
7 [label="gini = 0.0\nsamples = 2\nvalue = [2, 0]"] ;
5 -> 7 ;
8 [label="gini = 0.0\nsamples = 2\nvalue = [2, 0]"] ;
0 -> 8 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
}

In [0]:
# Running our prediction
prediction = clf_train.predict([[62, 15.3, 0, 0, 1, 0, 1, 1, 0]])

print(prediction)

['yes']

Please also out put the confidence level for the prediction.

In [0]:
'''
kaggle copy code from competitions
bit.ly/freetrial-ds
'''

'\nkaggle copy code from competitions\nbit.ly/freetrial-ds\n'